<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>im.droste.simplescreenshot</string>
	<key>connections</key>
	<dict>
		<key>E4415EFB-A2FB-4A59-89D4-8C386F6666A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6A09782-9F8F-4698-BC2B-BF2C9B794019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James Droste</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simple Screenshot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screenshot</string>
				<key>subtext</key>
				<string>Take a screenshot</string>
				<key>text</key>
				<string>Screenshot</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E4415EFB-A2FB-4A59-89D4-8C386F6666A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -c -s</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6A09782-9F8F-4698-BC2B-BF2C9B794019</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>E4415EFB-A2FB-4A59-89D4-8C386F6666A9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F6A09782-9F8F-4698-BC2B-BF2C9B794019</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://james.droste.im</string>
</dict>
</plist>
